<html>
	<head>
		<title>Hardware Library</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />		
		<link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico') }}>
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>
	<!-- Header -->
		<section id="header" class="dark">
			<header>
				<h1>Welcome to the CSS Hardware Lab</h1>
				<p>A free library for all Fordham students</p>
			</header>
			<footer>
				<a href="#first" class="button scrolly">Proceed to inventory list</a>
			</footer>
		</section>

	<!-- Inventory -->
		<section id="first" class="main">
			<header>
				<div class="container">
					<h2>How Checkout Works</h2>
					<ol>
						<li>Select an item</li>
						<li>Fill out the form</li>
						<li>We'll be in touch!</li>
					</ol>
					<p>You'll be enjoying your new hardware in no time :)</p>
				</div>
			</header>
			<div class="content dark style2">
				<div class="container">
					<div class="row">
						<div class="12u 12u(narrow)">
							<section>
								<h3>Hardware Catalog</h3>
								<p>Here is our hardware inventory. Feel free to check something out.</p>
							</section>
						</div>
						<div class="12u 12u(narrow)">
							<div class="row">
								{% for item in data %}
								<div class="4u 6u(narrow)">
									<div class="thisthing">
										<a class="image fit" target="_blank" href="{{"https://docs.google.com/forms/d/11ciP6wcHqHMCoc5hA4h9SsA2olAGWdE8jX6Dq7TiMJ8/viewform?entry.96774140&entry.96774140&entry.1167578859&entry.930661957&entry.1049094140=" ~ item['Form Link'] ~ "&entry.100790372"}}">
											<img src="{{"static/images/inventory/" ~ item['ImageURL']}}" alt="">
										</a>
										<div class="12u description">
											<h2>{{item['Hardware Item']}}</h2>
											<p>{{item['Description'] | safe}}</p>
										</div>
										<a target="_blank" href="{{"https://docs.google.com/forms/d/11ciP6wcHqHMCoc5hA4h9SsA2olAGWdE8jX6Dq7TiMJ8/viewform?entry.96774140&entry.96774140&entry.1167578859&entry.930661957&entry.1049094140=" ~ item['Form Link'] ~ "&entry.100790372"}}">
											<button class="request-button">Request Now</button>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>		
	</body>
</html>
